::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-horizontal {
  height: 0px;
}

strong {
  text-decoration: underline dotted var(--vp-c-brand) 2px;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}

/* .VPSidebarItem.has-active > .item > .caret {
  display: none;
} */

.VPSidebarItem.level-1 .items,
.VPSidebarItem.level-2 .items,
.VPSidebarItem.level-3 .items,
.VPSidebarItem.level-4 .items,
.VPSidebarItem.level-5 .items,
.VPDocAside .has-outline .content {
  position: relative;
  border-left-color: transparent !important;
}

.VPSidebarItem.level-1 .items:before,
.VPSidebarItem.level-2 .items:before,
.VPSidebarItem.level-3 .items:before,
.VPSidebarItem.level-4 .items:before,
.VPSidebarItem.level-5 .items:before,
.VPDocAside .has-outline .content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 1px;
  background: var(--vp-c-border);
  animation: 0.5s linear forwards border-horizontal;
}

.vp-doc h2,
.group+.group[data-v-1e48ca08] {
  position: relative;
  border-top-width: 0;
}

.vp-doc h2:before,
.group+.group[data-v-1e48ca08]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--vp-c-border);
  animation: 2s linear forwards border-line;
}

@keyframes border-line {
  from {
    right: 100%;
  }

  to {
    right: 0;
  }
}

@keyframes border-horizontal {
  from {
    bottom: 100%;
  }

  to {
    bottom: 0;
  }
}

/**
 * Copy from https://github.com/unocss/unocss/blob/main/docs/.vitepress/theme/overrides.css
 * -------------------------------------------------------------------------- */
 
.vp-code-group .tabs label {
  background-color: transparent;
}

table {
  width: 100% !important;
  display: table;
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand);
}

.VPHero .image-bg {
  z-index: 1;
  opacity: 0.8;
  transition: opacity 1s ease;
}

.VPHero .image-container:hover .image-bg {
  opacity: 0.2;
}


/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a>code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a>code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}


/* VitePress Search */
.VPLocalSearchBox .result {
  --vp-c-bg-search-result: var(--vp-c-bg);
  background: var(--vp-c-bg-search-result) !important;
  padding: 4px !important;
  border: 1px solid var(--vp-c-divider) !important;
}

.VPLocalSearchBox .result.selected {
  --vp-c-bg-search-result: var(--vp-c-bg-soft) !important;
}

.VPLocalSearchBox .result .excerpt-gradient-top {
  background: linear-gradient(var(--vp-c-bg-search-result), transparent) !important;
}

.VPLocalSearchBox .result .excerpt-gradient-bottom {
  background: linear-gradient(transparent, var(--vp-c-bg-search-result)) !important;
}

.VPLocalSearchBox .title-icon {
  display: none;
}

.VPLocalSearchBox .excerpt-wrapper {
  margin-top: 4px;
}
